@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&display=swap');

.box2 {
    background-image: url(../imag/code.jpeg);
    border-radius: 25px;
    margin: 30px;
    padding: 15px;
    width: auto;
    height: 500px;
}

.img {
    width: 10%;
    height: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.box2 h3 {
    margin: 10px;
    padding: 10px;
    font-size: 30pt;
    color: #ffffff;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 2;
}

.box2 p {
    color: #ffffff;
}

.box2 button {
    font: normal bold 20px/30px Heebo;
    letter-spacing: 0.3px;
    color: #3A3A3A;
    border: 1px solid #000;
    background: #56aaf3;
    border-radius: 25px;
    display: block;
    margin: 9px auto;
    padding: 10px;
}

/* Media Queries */


@media (max-width: 600px) {
    .box2 {
        width: 100%;
        height: auto;
    }

    .box2 h3 {
        font-size: 24pt;
    }
}

@media (max-width: 2300px) {
    .box2 {
        width: 100%;
        height: auto;
    }

    .box2 h3 {
        font-size: 24pt;
    }
}