* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.box1 {
    width: auto;
    height: 400px;
    padding: 20px;
    background-image: url(../imag/coding.jpg);
    background-color: #56aaf3;
    border: 1px solid #000;
    padding-top: 50px;
    border-radius: 25px;
}

.box1 h2 {
    font-size: 50pt;
    color: #000000;
    font-family: Josefin+Sans;
    text-align: center;
    line-height: 3;
}

p {
    color: #000000;
    font-size: 15pt;
    text-align: center;
    line-height: 1.35;
    padding: 15px;

}

@media screen and (max-width: 768px) {
    .box1 {
        padding-top: 30px;
        height: auto;
    }

    .box1 h2 {
        font-size: 30pt;
        line-height: 1.3;
        margin-top: 90pt;

    }

    p {
        font-size: 12pt;
    }
}